<div class="comment comment--new flex align-start full-width margin-block-end-double">
  <div class="flex flex-column full-width">
    <div class="position-relative">
      <%= form_with model: Comment.new, url: bucket_bubble_comments_path(bubble.bucket, bubble), class: "flex flex-column gap full-width",
            data: { controller: "form paste local-save",
                   local_save_key_value: "comment-#{bubble.id}",
                   action: "turbo:submit-end->local-save#submit keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop paste->paste#pasteFiles" } do |form| %>
        <%= form.markdown_area :body, class: "input comment__input", required: true, placeholder: new_comment_placeholder(bubble),
              data: { local_save_target: "input", action: "house-md:change->local-save#save" } %>
        <%= form.button class: "comment__submit btn btn--reversed flex-item-justify-end txt-small" do %>
          <%= image_tag "check.svg", aria: { hidden: "true" }, size: 24 %>
          <span class="for-screen-reader">Save</span>
        <% end %>
        <span data-form-target="cancel" hidden></span>
      <% end %>
    </div>
  </div>
</div>
