<%= link_to column_path, class: "btn btn--circle txt-x-small borderless cards__expander-button", data: { turbo_frame: "_top" } do %>
  <%= icon_tag "expand", class: "translucent" %>
  <span class="for-screen-reader">Expand column</span>
<% end %>
