.comments {
  --avatar-size: 2.33em;
  --comment-padding-block: 0.25lh;
  --comment-padding-inline: 3ch;

  font-size: 1.33cqi;
  inline-size: min(67ch, 100dvw);
  max-inline-size: 100dvw;
  row-gap: var(--comment-padding-block);

  @media (max-width: 70ch) {
    inline-size: 100%;
  }

  > :first-child {
    /* margin-block-start: var(--comment-padding-block); */
  }
}

.comment {
  margin-block: calc(var(--comment-padding-block) * 0.3);
  margin-inline: 0 auto;
  position: relative;
}

.comment--new {
  border-block: 1px solid var(--color-subtle-dark);
}

.comment__avatar {
  margin-block-start: calc(var(--comment-padding-block) * 0.5);
  margin-inline: auto calc(var(--comment-padding-inline) * -0.75);
  z-index: 0;

  .comment--mine_ & {
    margin-inline: calc(var(--comment-padding-inline) * -0.75) auto;
  }
}

.comment__edit {
  display: none;

  .comment--mine & {
    display: grid;
  }
}

.comment__body {
  p {
    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.comment__content {
  margin-inline: auto 0 auto var(--avatar-size);
  padding: var(--comment-padding-block) var(--comment-padding-inline);
  
  .comment--mine_ & {
    margin-inline: var(--avatar-size) auto;
  }

  .comment:has(+ .event-summary) & {
    padding-block-end: calc(var(--comment-padding-block) * 1.5);
  }
}

.comment__input {
  --input-border-size: 0;
  --input-padding: 0;

  line-height: inherit;
  min-block-size: calc(9lh + (2 * var(--comment-padding-block)));
  min-inline-size: 100%;

  @supports (field-sizing: content) {
    field-sizing: content;
    min-block-size: calc(9lh + (2 * var(--comment-padding-block)));
  }
}

.comment--mine_ {
  flex-direction: row-reverse;
  margin-inline: auto 0;

  .comment__author {
    flex-direction: row-reverse;
  }
}

.comment__author {
  border-block-end: 1px solid var(--color-subtle-dark);
  margin-block-end: 0.3lh;
}

.comment__submit {
  inset: auto 0.5em 0.5em auto;
  position: absolute;
  z-index: 0;
}

.comment__timestamp {
  color: var(--color-subtle-dark);
}

.event-summary {
  color: var(--bubble-color);
  font-weight: normal;
  gap: 0.5ch;
  opacity: 0.7;
  padding: calc(var(--comment-padding-block) * 0.3) var(--comment-padding-inline);
}
